
// Color - text
$primary-color:#222324;
$black-color:#2B2B2F;
$white-color:#F7F8FA;
$secondary-color:#B2B7C2;

// Background - fon
$background-color-black:#2B2B2F;
$background-color-white:#F7F8FA;
$background-color-primary:#222324;
