.logo__fix {
    display: flex;
    align-items: center;
    img {

    }
    span {
        margin-left: 10px;
        font-family: 'Cinzel', serif;
        font-weight: 600;
        font-size: 22px;
    }
}